 {% extends 'base.html' %}
{% block body %}

<div class="col-md-6">
            <div class="shadow card">
                <div class="card-body">
                    <h5 class="card-title">{{task.name}}</h5>
                    <h5 class="card-title">Priority : {{task.priority}}</h5>
                    <h5 class="card-title">{{task.date}}</h5>
                    <a class="btn btn-danger" href="delete/{{task.id}}">Done</a>
                    <a class="btn btn-success" href="update/{{task.id}}">Update</a><br>
                </div>
            </div>
        </div>


{% endblock %}